[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pyyaml = "*"
openai = "*"
pydantic = "*"
pika = "*"
fastmcp = "*"
redis = "*"
dagster = "*"
dagster-webserver = "*"
dagster-docker = "*"
dagster-graphql = "*"
dagster-postgres = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
pymysql = "*"

[dev-packages]
pytest = "*"
httpx = "*"

[requires]
python_version = "3.12"
